# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Secrets
*.json
*.key
*.pem
credentials/
secrets/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
tmp/
temp/
